<div class="container">
  <h1>Détails du pokemon</h1>
  <p>Nom : <%= @pokemon.name %></p>
  <p>Nombre : <%= @pokemon.number %></p>
  <p>Niveau : <%= @pokemon.level %></p>
  <p>Points de vie : <%= @pokemon.health_points %></p>
  <p>Type :
    <% type = @pokemon.type %>
    <% if type.nil? %>
      Non défini.
    <% else %>
      <span class="badge" style="background-color: <%= type.color %>">
        <%= type_badge(type.name, type.color) %>
      </span>
    <% end %>
  </p>
  <p>
    Attaques :
    <%= render  'moves/moves_lists', moves: @pokemon.moves%>
    <%# @pokemon.moves.each do |move| %>
<!--      <br>-->
      <%#= move.name %>
    <%# end %>
  </p>
  <p>

  </p>
  <%= link_to('Retour', pokemons_path, class: 'btn btn-default') %>
  <%= link_to('Editer', edit_pokemon_path(@pokemon), class: 'btn btn-warning') %>
</div>